@use '../custom'as *;

.footer{
    background: $footer;
    .logoo{
        color: $orangee;
        font-weight: bold;
        margin-left: 3rem;
        text-decoration: none;
        font-family: 'poppins'sans-serif;
        font-weight:900;
        font-size: 3.5rem;
        padding-left: 2rem;
    }
    ul li{
        list-style-type:none ;
        color: $orangee;
        margin-bottom: 1.2rem;
        text-decoration: underline;
    }
     .img {
        margin-top: -3rem;
    }
}
